<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flowedu.mapper.LogMapper">

    <insert id="insertLecturePaymentLog" parameterType="com.flowedu.dto.LecturePaymentLogDto">
        INSERT INTO LECTURE_PAYMENT_LOG
        (
          lecture_rel_id, lecture_name, payment_price, student_name, member_name, cat_id, card_no, install_ment, trans_amt,
          auth_no, reply_date, accepter_code, issure_code, issure_name, trans_no, merchant_reg_no, auth_type
        )
        VALUES
        (
          #{lectureRelId}, #{lectureName}, #{paymentPrice}, #{studentName}, #{memberName}, #{kisPosOcx.catId}, #{kisPosOcx.cardNo},
          #{kisPosOcx.installMent}, #{kisPosOcx.transAmt}, #{kisPosOcx.authNo}, #{kisPosOcx.replyDate}, #{kisPosOcx.accepterCode},
          #{kisPosOcx.issureCode}, #{kisPosOcx.issureName}, #{kisPosOcx.transNo}, #{kisPosOcx.merchantRegNo}, #{kisPosOcx.authType}
        )
    </insert>

    <insert id="insertSmsSendLog" parameterType="com.flowedu.dto.SmsSendLogDto">
      INSERT INTO SMS_SEND_LOG
      (result_code, message, msg_id, success_cnt, error_cnt, msg_type)
      VALUES
      (#{result_code}, #{message}, #{msg_id}, #{success_cnt}, #{error_cnt}, #{msg_type})
    </insert>

    <insert id="saveLoginLog" parameterType="com.flowedu.dto.LoginLogDto">
        INSERT INTO MEMBER_LOGIN_LOG
        (member_id, member_name, connect_ip)
        VALUES
        (#{memberId}, #{memberName}, #{connectIp});
    </insert>

    <select id="receiptList" resultType="com.flowedu.domain.LecturePaymentLog">
        SELECT * FROM LECTURE_PAYMENT_LOG WHERE lecture_rel_id = #{lectureRelId}
    </select>

    <select id="receiptListOne" resultType="com.flowedu.domain.LecturePaymentLog">
        SELECT * FROM LECTURE_PAYMENT_LOG WHERE lecture_payment_log_id = #{lecturePaymentLogId}
    </select>

    <select id="getAuthType" resultType="String">
        SELECT auth_type FROM LECTURE_PAYMENT_LOG WHERE lecture_payment_log_id = #{lecturePaymentLogId}
    </select>

  <update id="cancelPaymentLog" parameterType="Long">
      UPDATE LECTURE_PAYMENT_LOG SET cancel_yn = 1 WHERE lecture_payment_log_id = #{lecturePaymentLogId}
  </update>

</mapper>