<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flowedu.mapper.LogMapper">

    <insert id="insertLecturePaymentLog" parameterType="com.flowedu.dto.LecturePaymentLogDto">
        INSERT INTO LECTURE_PAYMENT_LOG
        (
          lecture_rel_id, lecture_name, payment_price, student_name, member_name, cat_id, card_no, install_ment, trans_amt,
          auth_no, reply_date, accepter_code, issure_code, issure_name, trans_no, merchant_reg_no, auth_type
        )
        VALUES
        (
          #{lectureRelId}, #{lectureName}, #{paymentPrice}, #{studentName}, #{memberName}, #{kisPosOcx.catId}, #{kisPosOcx.cardNo},
          #{kisPosOcx.installMent}, #{kisPosOcx.transAmt}, #{kisPosOcx.authNo}, #{kisPosOcx.replyDate}, #{kisPosOcx.accepterCode},
          #{kisPosOcx.issureCode}, #{kisPosOcx.issureName}, #{kisPosOcx.transNo}, #{kisPosOcx.merchantRegNo}, #{kisPosOcx.authType}
        )
    </insert>

    <select id="paymentMemberList" resultType="com.flowedu.dto.LecturePaymentLogDto">
        SELECT * FROM LECTURE_PAYMENT_LOG
    </select>

    <insert id="saveLoginLog" parameterType="com.flowedu.dto.LoginLogDto">
      INSERT INTO MEMBER_LOGIN_LOG
      (member_id, member_name, connect_ip)
      VALUES
      (#{memberId}, #{memberName}, #{connectIp});
    </insert>
</mapper>