<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flowedu.mapper.MessageMapper">

    <insert id="saveEmailAddress" parameterType="list">
        INSERT INTO EMAIL_SEND_RESERVATION
          (email_address, member_name, phone_number, auth_key)
        VALUES
        <foreach collection="emailList" item="values" index="index" separator=",">
          (#{values.emailAddress}, #{values.memberName}, #{values.phoneNumber}, #{values.authKey})
        </foreach>
    </insert>

    <select id="getEmailSendReservationList" resultType="com.flowedu.dto.EmailSendReservationDto">
         SELECT * FROM EMAIL_SEND_RESERVATION
         WHERE send_yn = false
    </select>

    <update id="updateEmailSendReservationStatus">
        UPDATE EMAIL_SEND_RESERVATION SET send_yn = #{sendYn}
        WHERE idx = #{idx}
    </update>

</mapper>