<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flowedu.mapper.UserMapper">

    <select id="selectUserCount" resultType="Long">
        SELECT student_id
        FROM STUDENT
        WHERE 1=1
        AND student_auth_key = #{userId}
        AND student_password = #{userPass}
    </select>

    <select id="selectStudentInfo" resultType="com.flowedu.domain.Student">
        SELECT *
        FROM STUDENT
        WHERE student_id = #{studentId}
    </select>

    <update id="updateStudentInfo" parameterType="com.flowedu.dto.StudentDto">
        UPDATE STUDENT
        <set>
            <if test="studentName != ''">student_name = #{studentName},</if>
            <if test="studentPassword != ''">student_password = #{studentPassword},</if>
            <if test="studentGender != ''">student_gender = #{studentGender},</if>
            <if test="studentBirthday != ''">student_birthday = #{studentBirthday},</if>
            <if test="homeTelNumber != ''">home_tel_number = #{homeTelNumber},</if>
            <if test="studentPhoneNumber != ''">student_phone_number = #{studentPhoneNumber},</if>
            <if test="studentEmail != ''">student_email = #{studentEmail},</if>
            <if test="schoolName != ''">school_name = #{schoolName},</if>
            <if test="schoolType != ''">school_type = #{schoolType},</if>
            <if test="studentGrade != ''">student_grade = #{studentGrade},</if>
            <if test="studentPhotoFile != ''">student_photo_file = #{studentPhotoFile},</if>
            <if test="studentPhotoUrl != ''">student_photo_url = #{studentPhotoUrl},</if>
            <if test="motherName != ''">mother_name = #{motherName},</if>
            <if test="motherPhoneNumber != ''">mother_phone_number = #{motherPhoneNumber},</if>
        </set>
        <where>
            sstudent_id = #{studentId}
        </where>
    </update>
</mapper>